.userList {
  flex: 4;
}

.userListContainer {
  display: flex;
  align-items: center;
}

.userListImg {
  width: 2rem;
  height: 2rem;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 0.6rem;
}

.userListEdit {
  border: none;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  background-color: #3bb077;
  color: #fff;
  cursor: pointer;
  margin-right: 1rem;
}

.userListDelete {
  color: red;
  cursor: pointer;
}
